<div class="wistia-player">

    <div class="wistia-player__loader"
         ng-hide="vm.wistiaUploaderService.local.hashedId"
         ng-style="{ 'width': vm.wistiaUploaderService.local.progress + '%' }"></div>

    <label class="wistia-player__label"
           ng-class="{
                _available: vm.wistiaUploaderService.local.progress === 0,
                _hidden: vm.wistiaUploaderService.local.isError || vm.wistiaUploaderService.local.hashedId
           }">
        <input type="file" class="wistia-player__file" name="files[]" wistia-uploader>
        <span class="wistia-player__circle">
            <svg class="svg-upload" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 17">
                <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
            </svg>
        </span>
        <span class="wistia-player__label-text">Choose a file...</span>
    </label>

    <div class="wistia-player__error" ng-show="vm.wistiaUploaderService.local.isError">
        <div class="wistia-player__error-msg">Something went wrong...</div>
        <button class="wistia-player__reload"
                ng-click="vm.wistiaUploaderService.reset()"
                type="button">Try again</button>
    </div>

    <div class="wistia-player__video-wrap" ng-if="vm.wistiaUploaderService.local.hashedId">
        <script ng-src="{{wistiaUploaderService.local.jsonpSrcUrl}}" async></script>
        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                <div class="wistia_embed wistia_async_{{vm.wistiaUploaderService.local.hashedId}} videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
            </div>
        </div>
    </div>

</div>